html {
    background-color: rgb(236, 236, 236);
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
  }

  /* rgb(100, 135, 103); */
  .titleIconContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .iconsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

  }

  @media only screen and (max-width: 600px) {
    .titleIconContainer {
      align-items: flex-start;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  .titleInfoContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline; 
    /* justify-content: space-between; */
  }


  .subtitle {
    font-size: 1.25rem;
    color: rgb(147, 147, 147);
    font-weight: 100;
  }
  .date {
    font-size: 1rem;
    color: rgb(147, 147, 147);
    font-weight: 100;
  }


  @media only screen and (max-width: 675px) {
    .subtitle {
      font-size: 1rem;
    }

    .date {
      font-size: 0.75rem;

    }
  
  }


  .blockContainer {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
  }

  .multiContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
    /* max-width: "60rem"; */
    height: 32rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .blockText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .linkList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .fullImage {
    width: 24rem;
    border: #ffffff solid 2px;
    box-shadow: 0px 2px 8px rgb(26, 26, 53);
    border-radius: 1rem;
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 200;
    margin: 0;

  }

  p {
    max-width: 36rem;
    color: rgb(84, 84, 84);
  }

  .logoLarge {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    margin-bottom: 10rem;
  }

  .categoryContainer {
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

  }

  ::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* border: 1px black solid; */
    
    background: rgb(243, 243, 243);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(170, 205, 173); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(133, 165, 136); 
  }