---
import MailIcon from "./icon/MailIcon.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
---

<style>
  .headshot {
    width: 12rem;
    min-width: 12rem;
  }

  .bioBlockContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .bioBlockContainer {
      flex-direction: column;
      align-items: center;
    }
  }
</style>

<div class="categoryContainer">
  <div class="bioBlockContainer">
    <img
      style={{ borderRadius: "50%" }}
      src="/portfolio/headshotSquare.JPG"
      class="headshot"
    />
    <div class="blockText">
      <h2>Hi, I'm Owen Prendergast!</h2>
      <p>
        I am an undergraduate Computer Science and Science, Technology, and
        Society major at Tufts University from Seattle, Washington. My work
        focuses on web development, audio, and software designed for social
        impact. Explore this site to see everything I have been working on!
      </p>
      <div class="iconsContainer">
        <GithubLogo s="28" />
        <LinkedInLogo />
        <MailIcon />
      </div>
    </div>
  </div>
</div>
