---
import MailIcon from "./icon/MailIcon.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
---

<style>
  .headshot {
    width: 15rem;
    min-width: 15rem;
  }
  .bioText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    max-width: 34rem;
  }
</style>

<div class="blockContainer">
  <img src="/AstroPortfolioSite/headshot.JPG" class="headshot" />
  <div class="blockText">
    <div class="titleIconContainer">
      <h1>Hi, I'm Owen!</h1>
      <GithubLogo s="28" />
      <LinkedInLogo />
      <MailIcon />
    </div>
    <p>
      I am an undergraduate Computer Science and Science, Technology, and
      Society major at Tufts University from Seattle, Washington. My work
      focuses on web development, audio, and software designed for social
      impact. Explore this site to see everything I have been working on!
    </p>
  </div>
</div>
