---
import MailIcon from "./icon/MailIcon.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
---

<style>
  .headshot {
    width: 15rem;
    min-width: 15rem;
  }
  .bioText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>

<div class="blockContainer">
  <img src="/headshot.JPG" class="headshot" />
  <div class="blockText">
    <div class="titleIconContainer">
      <h1>Hi, I'm Owen!</h1>
      <GithubLogo s="28" />
      <LinkedInLogo />
      <MailIcon />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor neque
      leo, eu euismod nunc dapibus vulputate. In blandit sit amet erat in
      volutpat. Vivamus vel volutpat ante. Cras lorem ex, fringilla quis nibh
      vel, malesuada volutpat arcu. Curabitur eu eros sed felis mattis convallis
      ac sed lorem. Sed facilisis diam ac ultricies bibendum. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
      Donec semper auctor leo. Suspendisse et mi in elit volutpat lacinia vel
      sit amet enim. Maecenas quis erat id ante lobortis elementum. Nunc eget
      augue in metus porttitor tempus in at nunc. Cras tempus commodo aliquam.
    </p>
  </div>
</div>
