---
import MailIcon from "./icon/MailIcon.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
---

<style>
  .headshot {
    width: 12rem;
    min-width: 12rem;
    box-shadow:
      20px 20px 60px #c5c5c5,
      -20px -20px 60px #ffffff;
  }

  .bioBlockContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .bioBlockContainer {
      flex-direction: column;
      align-items: center;
    }
  }
</style>

<div class="categoryContainer">
  <div class="bioBlockContainer">
    <img
      style={{ borderRadius: "50%" }}
      src="/portfolio/headshotSquare.JPG"
      class="headshot"
    />
    <div class="blockText items-center sm:items-start">
      <h2 class="text-2xl sm:text-[2rem] text-center sm:text-start">
        Hi, I'm Owen Prendergast!
      </h2>
      <p class="text-sm sm:text-base text-center sm:text-start">
        I am a recent graduate from Tufts University with a BS in Computer
        Science and Science, Technology, and Society (STS), originally from
        Seattle, Washington. My work focuses on web development, audio, and
        software designed for social impact. Explore this site to see everything
        I have been working on!
      </p>
      <div class="iconsContainer">
        <GithubLogo s="28" />
        <LinkedInLogo />
        <MailIcon />
      </div>
    </div>
  </div>
</div>
