---

---

<style>
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  a:hover {
    background-color: rgb(170, 205, 173);
    color: white;
  }

  a {
    transition: background-color 0.25s ease;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    background: #e8e8e8;
    box-shadow:
      10px 10px 30px #c5c5c5,
      -10px -10px 30px #ffffff;
  }
</style>

<div class="navContainer">
  <a href="/portfolio/#bio"
    ><h3 class="text-xl sm:text-3xl">Back to Top</h3>
  </a>
</div>
