---

---

<style>
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  a:hover {
    background-color: rgb(170, 205, 173);
    color: white;
  }

  a {
    transition: background-color 0.25s ease;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    background: white;
  }
</style>

<div class="navContainer">
  <a href="/portfolio/#bio"><h3 class="navHeader">Back to Top</h3> </a>
</div>
