---
import LinkButton from "../components/LinkButton.astro";
import Header from "./Header.astro";
---

<div class="categoryContainer">
  <Header text="Experience" />
  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h2>Tufts CS105</h2>
        <p class="subtitle">Teaching Assistant</p>
        <p class="date">(Sept 2024 - Present)</p>
      </div>
      <p>
        Working as a teaching assistant for Tufts University's CS105 Programming
        Languages Course. This course focuses on understanding high level coding
        concepts like functional programming vs OOP, static vs dynamic type
        systems, operational semantics, and more. I facilitate office hours for
        students and grade asisgnments, providing feedback on their work and
        coding practices.
      </p>
      <LinkButton
        link="https://www.cs.tufts.edu/comp/105/"
        text="CS105 Course Site"
      />
    </div>
  </div>

  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h2>JumboCode</h2>
        <p class="subtitle">Full-Stack Developer</p>
        <p class="date">(Sept 2024 - Present)</p>
      </div>
      <p>
        Working on a 14 person team to develop an internal web app platform for
        English at Large, a nonprofit supporting immigrants in building English
        language skills. Creating a site for administrators and tutors to manage
        the organization's inventory of books and other student resources.
        Collaboratively working to complete tickets for bi-weekly sprints,
        adding new content and features to the site.
      </p>
      <div class="linkList">
        <LinkButton link="https://jumbocode.org/" text="JumboCode" />
        <LinkButton
          link="https://www.englishatlarge.org/"
          text="English At Large"
        />
      </div>
    </div>
  </div>

  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h2>iD Tech</h2>
        <p class="subtitle">Instructor</p>
        <p class="date">(Jun 2024 - Aug 2024)</p>
      </div>
      <p>
        I led and managed summer classes in Python, robotics, and more at the
        University of Washington. I spent time working with elementary to high
        school aged students and developed engaging lessons for diverse learning
        styles.
      </p>
      <LinkButton link="https://www.idtech.com/" text="iD Tech" />
    </div>
  </div>

  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h2>The IDEA Lab</h2>
        <p class="subtitle">Project Researcher</p>
        <p class="date">(Feb 2023 - Present)</p>
      </div>
      <p>
        Owlhead involves experimenting with alterations to perception in VR,
        including field of view increase and accelerated turning rate. As a
        researcher I help construct and write scripts for virtual test
        environments in the Unity Game Engine to record user experience and
        performance. We have submitted an IRB and are prepared to start trials
        early next year.
      </p>
      <div class="linkList">
        <LinkButton link="https://sites.tufts.edu/idea/" text="The IDEA Lab" />
        <LinkButton
          link="https://sites.tufts.edu/idea/owl-head/"
          text="Owlhead"
        />
      </div>
    </div>
  </div>

  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h2>Thriftway</h2>
        <p class="subtitle">Cashier and Courtesy Clerk</p>
        <p class="date">(June 2022 - August 2022)</p>
      </div>
      <p>
        My first job. I ran checkstands and bagged at the Thriftway grocery
        store, and performed a variety of maintenance tasks around the store. I
        Maintained efficient and friendly service during hectic and high
        pressure periods.
      </p>
      <LinkButton
        link="https://www.westseattlethriftway.com/"
        text="West Seattle Thriftway"
      />
    </div>
  </div>
</div>
