---
const { text } = Astro.props;
---

<style>
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 92%;
  }

  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
  }

  .separator:not(:empty)::before {
    margin-right: 0.25em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.25em;
  }
</style>

<h1 class="separator">{text}</h1>
