---
const { text } = Astro.props;
---

<div class="iconHeader">
  <slot />
  <h2 class="navHeader">{text}</h2>
</div>

<style>
  .iconHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }
</style>
