---
import LinkIcon from "./icon/LinkIcon.astro";

const { link, text } = Astro.props;
---

<style>
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(170, 205, 173);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    gap: 0.5rem;
    border: solid rgb(170, 205, 173) 2px;
    transition: background-color 0.25s ease;
  }

  a:hover {
    background-color: white;
    color: rgb(120, 155, 123);
  }
  p {
    color: black;
  }
</style>

<a href={link}>
  {text ? <p>{text}</p> : null}
  <LinkIcon />
</a>
