---
import ClipboardIcon from "./icon/ClipboardIcon.astro";
import CodeIcon from "./icon/CodeIcon.astro";
import GearIcon from "./icon/GearIcon.astro";
import HomeIcon from "./icon/HomeIcon.astro";
import IconHeader from "./IconHeader.astro";
---

<style>
  .navContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    padding-right: 1.5rem;
    border-right: solid black 1px;
  }

  .iconHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  .navList {
    font-size: 1.25rem;
    font-weight: 100;
    margin-left: 2.95rem;
    line-height: 2.5rem;
    border-left: solid black 1px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .bigLink {
    transition: color 0.25s ease;
  }

  .bigLink:hover {
    color: rgb(170, 205, 173);
  }

  li {
    cursor: pointer;
    padding-left: 1rem;
    transition: background-color 0.25s ease;
  }
  li:hover {
    background-color: rgb(170, 205, 173);
    color: white;
  }

  a {
    cursor: pointer;
  }
</style>

<div class="navContainer">
  <IconHeader text="Projects"> <GearIcon /></IconHeader>
  <ul class="navList">
    <a href="/projects/freebites"><li>FreeBites</li></a>
    <a href="/projects/coeqwal"><li>COEQWAL</li></a>
    <a href="/projects/peaksynth"><li>PeakSynth</li></a>
    <a href="/projects/other"><li>Other</li></a>
  </ul>
  <IconHeader text="Experience">
    <ClipboardIcon />
  </IconHeader>
  <ul class="navList">
    <a href="/experience/jumbocode"><li>JumboCode</li></a>
    <a href="/experience/idealab"><li>The IDEA Lab</li></a>
    <a href="/experience/idtech"><li>iD Tech</li></a>
    <a href="/experience/thriftway"><li>Thriftway</li></a>
  </ul>

  <a href="/skills" class="bigLink"
    ><IconHeader text="Skills">
      <CodeIcon />
    </IconHeader></a
  >
  <a href="/" class="bigLink"
    ><IconHeader text="Home"><HomeIcon /> </IconHeader>
  </a>
</div>
