---
import ClipboardIcon from "./icon/ClipboardIcon.astro";
import CodeIcon from "./icon/CodeIcon.astro";
import GearIcon from "./icon/GearIcon.astro";
import HomeIcon from "./icon/HomeIcon.astro";
import IconHeader from "./IconHeader.astro";
---

<div class="navContainer">
  <IconHeader text="Projects"> <GearIcon /></IconHeader>
  <ul class="navList">
    <li>FreeBites</li>
    <li>COEQWAL</li>
    <li>PeakSynth</li>
    <li>Other</li>
  </ul>
  <IconHeader text="Experience">
    <ClipboardIcon />
  </IconHeader>
  <ul class="navList">
    <li>JumboCode</li>
    <li>The IDEA Lab</li>
    <li>iD Tech</li>
    <li>Thriftway</li>
  </ul>

  <IconHeader text="Skills">
    <CodeIcon />
  </IconHeader>
  <IconHeader text="Home"><HomeIcon /> </IconHeader>
</div>
