---
import ClipboardIcon from "./icon/ClipboardIcon.astro";
import CodeIcon from "./icon/CodeIcon.astro";
import GearIcon from "./icon/GearIcon.astro";
import HomeIcon from "./icon/HomeIcon.astro";
import IconHeader from "./IconHeader.astro";
---

<style>
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  a:hover {
    background-color: rgb(170, 205, 173);
    color: white;
  }

  a {
    transition: background-color 0.25s ease;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background: white;
  }
</style>

<div class="navContainer">
  <a href="/AstroPortfolioSite/skills"><h3 class="navHeader">Projects</h3> </a>
  <a href="/AstroPortfolioSite/skills"
    ><h3 class="navHeader">Experience</h3>
  </a>
  <a href="/AstroPortfolioSite/skills"><h3 class="navHeader">Skills</h3> </a>
</div>
