---
import GridItem from "./GridItem.astro";
import Header from "./Header.astro";
import BlenderLogo from "./logos/BlenderLogo.astro";
import CLogo from "./logos/CLogo.astro";
import CppLogo from "./logos/CppLogo.astro";
import CSharpLogo from "./logos/CSharpLogo.astro";
import CSSLogo from "./logos/CSSLogo.astro";
import ExpoLogo from "./logos/ExpoLogo.astro";
import FirebaseLogo from "./logos/FirebaseLogo.astro";
import GCPLogo from "./logos/GCPLogo.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import HTMLLogo from "./logos/HTMLLogo.astro";
import IzotopeLogo from "./logos/IzotopeLogo.astro";
import JavascriptLogo from "./logos/JavascriptLogo.astro";
import MongoLogo from "./logos/MongoLogo.astro";
import NextJSLogo from "./logos/NextJSLogo.astro";
import NodeJSLogo from "./logos/NodeJSLogo.astro";
import PostgresLogo from "./logos/PostgresLogo.astro";
import PythonLogo from "./logos/PythonLogo.astro";
import ReactLogo from "./logos/ReactLogo.astro";
import ReactNative from "./logos/ReactNative.astro";
import TailwindLogo from "./logos/TailwindLogo.astro";
import TypescriptLogo from "./logos/TypescriptLogo.astro";
import UnityLogo from "./logos/UnityLogo.astro";
---

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 6rem);
    grid-template-rows: repeat(2, 6rem);
    gap: 1rem;
  }

  @media only screen and (max-width: 800px) {
    .grid {
      grid-template-columns: repeat(4, 6rem);
      grid-template-rows: repeat(3, 6rem);
    }
  }

  @media only screen and (max-width: 550px) {
    .grid {
      grid-template-columns: repeat(3, 6rem);
      grid-template-rows: repeat(4, 6rem);
    }
  }

  .gridItem {
    background-color: rgb(192, 137, 242);
  }

  .vert {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .category {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
    text-align: center;
  }
  .gridEmpty {
    border: black solid 1px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emptyText {
    font-weight: 100;
  }
</style>

<div class="categoryContainer">
  <Header text="Skills" />
  <div class="blockContainer vert">
    <h2>Programming Languages</h2>
    <div class="grid">
      <GridItem text="C"> <CLogo s="72" /> </GridItem>
      <GridItem text="C++"> <CppLogo s="72" /> </GridItem>
      <GridItem text="C#"> <CSharpLogo s="72" /> </GridItem>
      <GridItem text="Python"> <PythonLogo s="72" /> </GridItem>
      <GridItem text="JavaScript"> <JavascriptLogo s="72" /> </GridItem>
      <GridItem text="TypeScript"> <TypescriptLogo s="72" /> </GridItem>
      <GridItem text="HTML5"> <HTMLLogo s="72" /> </GridItem>
      <GridItem text="CSS"> <CSSLogo s="72" /> </GridItem>
      <GridItem text="JUCE">
        <a href="https://juce.com/made-with-juce/">
          <img src="/AstroPortfolioSite/JUCE_Logo.png" width="72" />
        </a>
      </GridItem>
      <GridItem text="">
        <div class="gridEmpty">
          <p class="emptyText">SQL</p>
        </div>
      </GridItem>

      <GridItem text="">
        <div class="gridEmpty">
          <p class="emptyText" style="font-size: 0.75rem;">Assembly</p>
        </div>
      </GridItem>
    </div>
    <h2>Other Platforms, Frameworks, and Software</h2>
    <div class="grid">
      <GridItem text="React"> <ReactLogo s="72" /> </GridItem>
      <GridItem text="React Native"> <ReactNative s="72" /> </GridItem>

      <GridItem text="MongoDB"> <MongoLogo s="72" /> </GridItem>
      <GridItem text="PostgreSQL"> <PostgresLogo s="72" /> </GridItem>
      <GridItem text="Firebase"> <FirebaseLogo s="72" /> </GridItem>
      <GridItem text="Expo"> <ExpoLogo s="72" /> </GridItem>
      <GridItem text="Tailwind CSS"> <TailwindLogo s="72" /> </GridItem>
      <GridItem text="Git"> <GithubLogo s="72" /> </GridItem>
      <GridItem text="GCP"> <GCPLogo s="72" /> </GridItem>
      <GridItem text="Next.js"> <NextJSLogo s="72" /> </GridItem>
      <GridItem text="Node.js"> <NodeJSLogo s="72" /> </GridItem>
      <GridItem text="Unity"> <UnityLogo s="72" /> </GridItem>
      <GridItem text="Blender"> <BlenderLogo s="72" /> </GridItem>
      <GridItem text="Logic Pro">
        <a href="https://www.apple.com/logic-pro/">
          <img src="/AstroPortfolioSite/Logic_Logo.png" width="72" />
        </a>
      </GridItem>

      <GridItem text="Ableton Live">
        <a href="">
          <img src="/AstroPortfolioSite/Ableton_Logo.png" width="72" />
        </a>
      </GridItem>
      <GridItem text="Izotope Plugins"><IzotopeLogo s="72" /> </GridItem>
    </div>
  </div>
</div>
