---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<style>
  h1 {
    font-size: 2.5rem;
  }
  p {
    max-width: 42rem;
  }
</style>

<MainLayout pageTitle="IDEA Lab">
  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h1>The IDEA Lab</h1>
        <p class="subtitle">Project Researcher</p>
        <p class="date">(Feb 2023 - Present)</p>
      </div>
      <p>
        Owlhead involves experimenting with alterations to perception in VR,
        including field of view increase and accelerated turning rate. As a
        researcher I help construct and write scripts for virtual test
        environments in the Unity Game Engine to record user experience and
        performance. We have submitted an IRB and are prepared to start trials
        early next year.
      </p>
      <div class="linkList">
        <LinkButton link="https://sites.tufts.edu/idea/" text="The IDEA Lab" />
        <LinkButton
          link="https://sites.tufts.edu/idea/owl-head/"
          text="Owlhead"
        />
      </div>
    </div>
  </div>
</MainLayout>
