---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<style>
  h1 {
    font-size: 2.5rem;
  }
  p {
    max-width: 42rem;
  }
</style>

<MainLayout pageTitle="iD Tech">
  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h1>iD Tech</h1>
        <p class="subtitle">Instructor</p>
        <p class="date">(Jun 2024 - Aug 2024)</p>
      </div>
      <p>
        I led and managed summer classes in Python, robotics, and more at the
        University of Washington. I spent time working with elementary to high
        school aged students and developed engaging lessons for diverse learning
        styles.
      </p>
      <LinkButton link="https://www.idtech.com/" text="iD Tech" />
    </div>
  </div>
</MainLayout>
