---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<style>
  h1 {
    font-size: 2.5rem;
  }
  p {
    max-width: 42rem;
  }
</style>

<MainLayout pageTitle="JumboCode">
  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h1>JumboCode</h1>
        <p class="subtitle">Full-Stack Developer</p>
        <p class="date">(Sept 2024 - Present)</p>
      </div>
      <p>
        Working on a 14 person team to develop an internal web app platform for
        English at Large, a nonprofit supporting immigrants in building English
        language skills. Creating a site for administrators and tutors to manage
        the organization's inventory of books and other student resources.
        Collaboratively working to complete tickets for bi-weekly sprints,
        adding new content and features to the site.
      </p>
      <div class="linkList">
        <LinkButton link="https://jumbocode.org/" text="JumboCode" />
        <LinkButton
          link="https://www.englishatlarge.org/"
          text="English At Large"
        />
      </div>
    </div>
  </div>
</MainLayout>
