---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<style>
  h1 {
    font-size: 2.5rem;
  }
  p {
    max-width: 42rem;
  }
</style>

<MainLayout pageTitle="Thriftway">
  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h1>Thriftway</h1>
        <p class="subtitle">Cashier and Courtesy Clerk</p>
        <p class="date">(June 2022 - August 2022)</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor neque
        leo, eu euismod nunc dapibus vulputate. In blandit sit amet erat in
        volutpat. Vivamus vel volutpat ante. Cras lorem ex, fringilla quis nibh
        vel, malesuada volutpat arcu. Curabitur eu eros sed felis mattis
        convallis ac sed lorem. Sed facilisis diam ac ultricies bibendum.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Donec semper auctor leo.
      </p>
      <LinkButton
        link="https://www.westseattlethriftway.com/"
        text="West Seattle Thriftway"
      />
    </div>
  </div>
</MainLayout>
