---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<style>
  h1 {
    font-size: 2.5rem;
  }
  p {
    max-width: 42rem;
  }
</style>

<MainLayout pageTitle="Thriftway">
  <div class="blockContainer">
    <div class="blockText">
      <div class="titleInfoContainer">
        <h1>Thriftway</h1>
        <p class="subtitle">Cashier and Courtesy Clerk</p>
        <p class="date">(June 2022 - August 2022)</p>
      </div>
      <p>
        My first job. I ran checkstands and bagged at the Thriftway grocery
        store, and performed a variety of maintenance tasks around the store. I
        Maintained efficient and friendly service during hectic and high
        pressure periods.
      </p>
      <LinkButton
        link="https://www.westseattlethriftway.com/"
        text="West Seattle Thriftway"
      />
    </div>
  </div>
</MainLayout>
