---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
import ReactLogo from "../../components/logos/ReactLogo.astro";
import TypescriptLogo from "../../components/logos/TypescriptLogo.astro";
import PostgresLogo from "../../components/logos/PostgresLogo.astro";
import COEQWALLogo from "../../components/logos/COEQWALLogo.astro";
---

<style>
  .logo {
    margin-bottom: 24rem;
    color: #41729f;
  }
  h1 {
    font-size: 2.75rem;
  }
</style>

<MainLayout pageTitle="COEQWAL">
  <div class="blockContainer">
    <div class="logo">
      <COEQWALLogo />
    </div>
    <div class="blockText">
      <div class="titleIconContainer">
        <h1>COEQWAL Data Vis</h1>
        <ReactLogo s="32" />
        <TypescriptLogo s="32" />
        <PostgresLogo s="32" />
      </div>
      <p>
        This project is a collaboration with UC Berkeley's Colaboratory for
        Equity in Water Allocation (COEQWAL) to develop an accessible data
        visualization tool to help the general public better understand water
        allocation challenges in California.
        <br />
        <br />
        California has extensive water infrastructure, however due to its dry climate
        and inconsistent rainfall it can be very difficult to consistently meet all
        of the state's water demands. Unfortunately, the decision-making process
        behind these water management choices is not very clear to the average person.
        COEQWAL is attempting increase transparency and awareness around these issues
        by providing people with the data and resources to understand potential water
        management futures.
        <br />
        <br />
        The website I am creating serves as a companion to the core project, providing
        a simplified visualization that abstracts away details to provide a "first
        step" into understanding California's many water management challenges. The
        site is still in development with a completed functional prototype stored
        in the repository below.
      </p>
      <div class="linkList">
        <LinkButton
          link="https://live-coeqwal-ca.pantheon.berkeley.edu/"
          text="COEQWAL Website"
        />
        <LinkButton
          link="https://github.com/owennjpr/COEQWAL-WebGame"
          text="Project Repository"
        />
      </div>
      <!-- <img src="/coeqwal_dashboard.png" class="fullImage" /> -->
    </div>
  </div>
</MainLayout>
