---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
import ReactLogo from "../../components/logos/ReactLogo.astro";
import TypescriptLogo from "../../components/logos/TypescriptLogo.astro";
import MongoLogo from "../../components/logos/MongoLogo.astro";
import ExpoLogo from "../../components/logos/ExpoLogo.astro";
import FirebaseLogo from "../../components/logos/FirebaseLogo.astro";
import FreeBitesLogo from "../../components/logos/FreeBitesLogo.astro";
---

<style>
  .logo {
    margin-bottom: 15rem;
  }
</style>

<MainLayout pageTitle="FreeBites">
  <div class="blockContainer">
    <div class="logo">
      <FreeBitesLogo />
    </div>
    <div class="blockText">
      <div class="titleIconContainer">
        <h1>FreeBites</h1>
        <ReactLogo s="32" />
        <TypescriptLogo s="32" />
        <ExpoLogo s="32" />
        <MongoLogo s="32" />
        <FirebaseLogo s="32" />
      </div>
      <p>
        For over 6 months now I have been part of a 13 person team of fellow
        Tufts students developing "FreeBites", a mobile app for discovering and
        posting free food, combating food insecurity and waste. I joined the
        team several months before release to help finish up all of the
        features, delivering new features and fixes for each sprint over the
        Summer.
        <br />
        <br />
        Since the app released in October, we have accumulated over 1000 downloads
        and I have continued to work with our designers and the rest of the development
        team to deliver consistent post-launch updates. Looking forward, we have
        begun work on scaling the app so it is ready to expand to other universities
        and institutions.
      </p>
      <LinkButton
        link="https://apps.apple.com/us/app/freebites/id6664051907"
        text="App Store"
      />
    </div>
  </div>
</MainLayout>
