---
import LighIcon from "../../components/icon/LighIcon.astro";
import JoystickIcon from "../../components/icon/JoystickIcon.astro";
import SearchIcon from "../../components/icon/SearchIcon.astro";
import PersonIcon from "../../components/icon/PersonIcon.astro";
import LinkButton from "../../components/LinkButton.astro";
import BlenderLogo from "../../components/logos/BlenderLogo.astro";
import CSharpLogo from "../../components/logos/CSharpLogo.astro";
import UnityLogo from "../../components/logos/UnityLogo.astro";
import AstroLogo from "../../components/logos/AstroLogo.astro";
import HTMLLogo from "../../components/logos/HTMLLogo.astro";
import CSSLogo from "../../components/logos/CSSLogo.astro";
import JavascriptLogo from "../../components/logos/JavascriptLogo.astro";

import MainLayout from "../../layouts/MainLayout.astro";
import PaintIcon from "../../components/icon/PaintIcon.astro";
---

<style>
  .logo {
    margin-bottom: 4rem;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    max-width: 36rem;
  }
</style>

<MainLayout pageTitle="Other">
  <div class="multiContainer">
    <div class="blockContainer">
      <div class="logo">
        <PaintIcon />
      </div>
      <div class="blockText">
        <div class="titleIconContainer">
          <h1>Synesthesiazer</h1>
          <HTMLLogo s="32" />
          <JavascriptLogo s="32" />
          <CSSLogo s="32" />
        </div>
        <p>
          A small research group dedicated to creating a multitrack spatial
          audio recorder in Virtual Reality, doubling as an experimental
          chromesthesia simulator. This project is overseen by a Tufts professor
          who wanted to recreate the interactive audiovisual experience of his
          synesthesia in a Virtual Reality context. The goal is to create
          something in Unity VR that records head tracking data and uses it to
          recreate the recorder's audio spatialization experience for a
          recipient with a tracked visual component.
        </p>
      </div>
    </div>
    <div class="blockContainer">
      <div class="logo">
        <LighIcon />
      </div>
      <div class="blockText">
        <div class="titleIconContainer">
          <h1>Lumina</h1>
          <UnityLogo s="32" />
          <CSharpLogo s="32" />
          <BlenderLogo s="32" />
        </div>
        <p>
          A first person puzzle game currently in development in Unity,
          involving extensive scripting in C#, 3D modeling in Blender, and
          movement-based puzzle design.
        </p>
      </div>
      <LinkButton link="https://github.com/owennjpr/LuminaGame" text="" />
    </div>
    <div class="blockContainer">
      <div class="logo">
        <JoystickIcon />
      </div>
      <div class="blockText">
        <div class="titleIconContainer">
          <h1>Shredasaurus</h1>
          <UnityLogo s="32" />
          <CSharpLogo s="32" />
          <a href="https://www.apple.com/logic-pro/">
            <img src="/AstroPortfolioSite/Logic_Logo.png" width="36" />
          </a>
        </div>
        <p>
          A game about a skateboarding dinosaur created in 2 weeks for the
          DINOJAM4 game jam (we placed top 5!) on itch.io. I collaborated with 4
          other developers and 3D modelers, working on level design, scripting,
          and the music.
        </p>
      </div>
      <LinkButton link="https://owennjpr.itch.io/shredasaurus" text="" />
    </div>
    <div class="blockContainer">
      <div class="logo">
        <SearchIcon />
      </div>
      <div class="blockText">
        <div class="titleIconContainer">
          <h1>Charity Search</h1>
          <HTMLLogo s="32" />
          <JavascriptLogo s="32" />
          <CSSLogo s="32" />
        </div>
        <p>
          The first website I ever created! I built this simple website with two
          friends for the Tufts JumboHack 2024 Hackathon, starting my journey
          into web development.
        </p>
      </div>
      <LinkButton
        link="https://owennjpr.github.io/JumboHack2024_CharitySearch/home.html"
        text=""
      />
    </div>

    <div class="blockContainer">
      <div class="logo">
        <PersonIcon />
      </div>
      <div class="blockText">
        <div class="titleIconContainer">
          <h1>Portfolio</h1>
          <AstroLogo s="32px" />
        </div>
        <p>
          The website you are on right now! Built with Astro for archiving all
          the stuff I've worked on in one place.
        </p>
      </div>
    </div>
  </div>
</MainLayout>
