---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
import MusicIcon from "../../components/icon/MusicIcon.astro";
import CppLogo from "../../components/logos/CppLogo.astro";
---

<style>
  .logo {
    margin-bottom: 15rem;
    color: rgb(100, 135, 103);
  }
  h1 {
    font-size: 2.75rem;
  }
</style>

<MainLayout pageTitle="PeakSynth">
  <div class="blockContainer">
    <div class="logo">
      <MusicIcon />
    </div>
    <div class="blockText">
      <div class="titleIconContainer">
        <h1>PeakSynth</h1>
        <a href="https://juce.com/made-with-juce/">
          <img src="/JUCE_Logo.png" width="36" />
        </a>
        <CppLogo />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor neque
        leo, eu euismod nunc dapibus vulputate. In blandit sit amet erat in
        volutpat. Vivamus vel volutpat ante. Cras lorem ex, fringilla quis nibh
        vel, malesuada volutpat arcu. Curabitur eu eros sed felis mattis
        convallis ac sed lorem. Sed facilisis diam ac ultricies bibendum.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Donec semper auctor leo.
      </p>
      <div class="linkList">
        <LinkButton
          link="https://github.com/owennjpr/PeakSynth-Audio-Plugin"
          text="Project Repository"
        />
      </div>
      <!-- <img src="/coeqwal_dashboard.png" class="fullImage" /> -->
    </div>
  </div>
</MainLayout>
