---
import MainLayout from "../../layouts/MainLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
import MusicIcon from "../../components/icon/MusicIcon.astro";
import CppLogo from "../../components/logos/CppLogo.astro";
---

<style>
  .logo {
    margin-bottom: 15rem;
    color: rgb(100, 135, 103);
  }
</style>

<MainLayout pageTitle="PeakSynth">
  <div class="blockContainer">
    <div class="logo">
      <MusicIcon />
    </div>
    <div class="blockText">
      <div class="titleIconContainer">
        <h1>PeakSynth</h1>
        <a href="https://juce.com/made-with-juce/">
          <img src="/AstroPortfolioSite/JUCE_Logo.png" width="36" />
        </a>
        <CppLogo s="32" />
      </div>
      <p>
        PeakSynth is an open source audio plugin I built using C++ and the JUCE
        framework, capable of interfacing with any Digital Audio Workstation
        software. The plugin takes ambient noise and live MIDI input, melding
        them into a harmonic mix of tonal and textural sounds. You can find a
        longer description with some audio demos at the repository linked below.
      </p>
      <div class="linkList">
        <LinkButton
          link="https://github.com/owennjpr/PeakSynth-Audio-Plugin"
          text="Project Repository"
        />
      </div>
    </div>
  </div>
</MainLayout>
