---
import Navigation from "../components/Navigation.astro";
import TitleCard from "../components/TitleCard.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <style>
      .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }
      .layoutContainer {
        display: flex;
        flex-direction: row;
        gap: 3rem;
      }
    </style>
  </head>
  <body>
    <div class="titleContainer">
      <TitleCard />
      <div class="layoutContainer">
        <Navigation />
        <slot />
      </div>
    </div>
  </body>
</html>
